/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #330F5E;  
  color: #FAFAFA;;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ddd;
}

.nav-link {
  font-size: 150%;
  color: #021382;
  margin: auto;
}

.d-flex{
  display: flex!important;
}

.container{
  background-color: #FAFAFA;
}

main{
  display: block;
  margin-top: 8rem;
  padding: 1rem;
}

footer {
  margin-left: 3rem;
  margin-right: 3rem;
}

main .row{
  padding: 2rem;
}


.container{
 margin: auto;
 padding: 3rem;
 background-attachment: fixed;
}