.back{
    position: fixed;
    border: 1px solid #FFFFFF;
    border-radius: 10%; 
    background-color: #007bff;
}

.back:hover{
	border: 1px solid #000000;
    border-radius: 10%; 
    background-color: #FFFFFF;
}

.card{
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 15px;
}

.KSP{
	display:none;
}

@media only screen and (max-width: 650px){
	.back{
		position: relative;
	}
}

select .region{
	max-height: 100px;
}