* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.mySlide {display: none}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  margin: auto;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.sliding {
  -webkit-animation-name: sliding;
  -webkit-animation-duration: 1.5s;
  animation-name: sliding;
  animation-duration: 1.5s;
}

@-webkit-keyframes sliding {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes sliding {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

h4{
  margin: auto;
  font-weight: 500;
  color: #5a5af3;
  text-shadow: 0px 0px 1px #021312;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Arial", sans-serif;
}

.child_comment{
  border: 0px solid #FAFAFA;
  background-color: #FAFAFA;
  margin: 10px;
}

blockquote p{
  margin: auto;
  padding: 5px;
}

.row{
	margin-top: 5px;
}

.col-8{
	height: auto;
}

.col-3{
	margin-left: 20px;
	height: auto;
}

.col-3 .card{
	margin: auto;
	text-align: center;
}

.card{
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back{
    position: fixed;
    border: 2px solid #FFFFFF;
    border-radius: 10%; 
    background-color: #007bff;
}

.back:hover{
	border: none;
  border-radius: 10%; 
  background-color: #FFFFFF;
}

.rekomendasi img{
  width: 150px;
  height: 100px;
  margin-top: 10px;
  border: 1px solid #697070;
  border-radius: 10px;
}

.recommend_body a{
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: #FAFAFA;
  text-decoration: none;
  color: #5a5af3;
}


.recommend_body a:hover{
  text-decoration: none;
  background-color: #5a5af3;;
  font-size: 120%;
  color: #FAFAFA;
}

.sesi_komentar{
	margin-top: 5px;
	margin-bottom: 5px;
	width: auto;
	background-color: #FAFAFA;
	color: #434175;
	text-align: center;
	font-weight: bolder;
	font-size: 20px;
}

.field-comment .card-body{
	background-color: #C2C4C4;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
}

.isi-komentar{
	background-color: #FAFAFA;
}

.reply{
	display: none;
	margin-top: 5px;
}

